<?xml version="1.0"?>
<config>
	<modules>
		<Wsu_Storepartitions>
			<version>0.1.0</version>
		</Wsu_Storepartitions>
	</modules>
	<frontend>
		<translate>
			<modules>
				<Wsu_Storepartitions>
					<files>
						<default>Wsu_Storepartitions.csv</default>
					</files>
				</Wsu_Storepartitions>
			</modules>
		</translate>
		<layout>
			<updates>
				<storepartitions>
					<file>storepartitions.xml</file>
				</storepartitions>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<storepartitions>
				<use>storepartitions</use>
				<args>
					<module>Wsu_Storepartitions</module>
					<frontName>storepartitions</frontName>
				</args>
			</storepartitions>
			<adminhtml>
				<args>
					<modules>
						<System_Store before="Mage_Adminhtml">Wsu_Storepartitions_Adminhtml</System_Store>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Wsu_Storepartitions>
					<files>
						<default>Wsu_Storepartitions.csv</default>
					</files>
				</Wsu_Storepartitions>
			</modules>
		</translate>
		<layout>
			<updates>
				<storepartitions>
					<file>storepartitions.xml</file>
				</storepartitions>
			</updates>
		</layout>
		<acl>
			<resources>
				<admin>
					<children>
						<storepartitions translate="title">
							<title>Advanced Permissions Tab</title>
							<sort_order>10</sort_order>
						</storepartitions>
						<system>
							<children>
								<storepartitions translate="title" module="storepartitions">
									<title>Advanced Permissions</title>
									<sort_order>0</sort_order>
								</storepartitions>
								<config>
									<children>
										<storepartitions translate="title" module="storepartitions">
											<title>Advanced Permissions</title>
										</storepartitions>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<global>
		<cms>
			<page>
				<tempate_filter>storepartitions/template_filter</tempate_filter>
			</page>
			<block>
				<tempate_filter>storepartitions/template_filter</tempate_filter>
			</block>
		</cms>
		<!--<adminhtml>
		<rewrite>
			<system_store_grid>Wsu_Storepartitions_Block_Adminhtml_System_Store_Grid</system_store_grid>
		</rewrite>
	</adminhtml>-->
		<resources>
			<storepartitions_setup>
				<setup>
					<module>Wsu_Storepartitions</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</storepartitions_setup>
			<storepartitions_write>
				<connection>
					<use>core_write</use>
				</connection>
			</storepartitions_write>
			<storepartitions_read>
				<connection>
					<use>core_read</use>
				</connection>
			</storepartitions_read>
		</resources>
		<helpers>
			<storepartitions>
				<class>Wsu_Storepartitions_Helper</class>
			</storepartitions>
			<checkout>
				<rewrite>
					<url>Wsu_Storepartitions_Helper_Url</url>
					<!--<cart>Wsu_Storeutilities_Helper_Cart</cart>-->
				</rewrite>
			</checkout>
		</helpers>
		<models>
			<storepartitions>
				<class>Wsu_Storepartitions_Model</class>
				<resourceModel>storepartitions_mysql4</resourceModel>
			</storepartitions>
			<storepartitions_mysql4>
				<class>Wsu_Storepartitions_Model_Mysql4</class>
				<entities>
					<advancedrole>
						<table>wsu_storepartitions_advancedrole</table>
					</advancedrole>
					<approve>
						<table>wsu_storepartitions_approvedproducts</table>
					</approve>
					<approvecategory>
						<table>wsu_storepartitions_approvedcategories</table>
					</approvecategory>
                    <editor_attribute>
                        <table>wsu_storepartitions_editor_attribute</table>
                    </editor_attribute>
                    <editor_tab>
                        <table>wsu_storepartitions_editor_tab</table>
                    </editor_tab>
                    <editor_type>
                        <table>wsu_storepartitions_editor_type</table>
                    </editor_type>
				</entities>
			</storepartitions_mysql4>
			<catalog_resource_eav_mysql4>
				<rewrite>
					<category_tree>Wsu_Storepartitions_Model_Rewrite_CatalogModelResourceEavMysql4CategoryTree</category_tree>
				</rewrite>
			</catalog_resource_eav_mysql4>
			<catalog>
				<rewrite>
					<category>Wsu_Storepartitions_Model_Rewrite_CatalogCategory</category>
					<product>Wsu_Storepartitions_Model_Rewrite_CatalogProduct</product>
					<product_status>Wsu_Storepartitions_Model_Rewrite_CatalogProductStatus</product_status>
					<product_action>Wsu_Storepartitions_Model_Rewrite_CatalogProductAction</product_action>
				</rewrite>
			</catalog>
			<adminhtml>
				<rewrite>
					<system_store>Wsu_Storepartitions_Model_Rewrite_AdminSystemStore</system_store>
					<sales_order_create>Wsu_Storepartitions_Model_Rewrite_AdminSalesOrderCreate</sales_order_create>
					<config_data>Wsu_Storepartitions_Model_Rewrite_AdminhtmlConfigData</config_data>
					<system_config_source_website>Wsu_Storepartitions_Model_Rewrite_AdminSystemConfigSourceWebsite</system_config_source_website>
				</rewrite>
			</adminhtml>
			<core_mysql4>
				<rewrite>
					<website_collection>Wsu_Storepartitions_Model_Rewrite_CoreWebsiteCollection</website_collection>
				</rewrite>
			</core_mysql4>
		</models>
		<blocks>
			<storepartitions>
				<class>Wsu_Storepartitions_Block</class>
			</storepartitions>
			<checkout>
				<rewrite>
					<cart_sidebar>Wsu_Storepartitions_Block_Cart_Sidebar</cart_sidebar>
					<cart_item_renderer>Wsu_Storepartitions_Block_Cart_Item_Renderer</cart_item_renderer>
				</rewrite>
			</checkout>
			
			<!-- adminhtml blocks -->
			<bundle>
				<rewrite>
					<adminhtml_catalog_product_edit_tab_attributes_extend>Wsu_Storepartitions_Block_Rewrite_BundleAdminhtmlCatalogProductEditTabAttributesExtend</adminhtml_catalog_product_edit_tab_attributes_extend>
					<adminhtml_catalog_product_edit_tab_attributes_special>Wsu_Storepartitions_Block_Rewrite_BundleAdminhtmlCatalogProductEditTabAttributesSpecial</adminhtml_catalog_product_edit_tab_attributes_special>
				</rewrite>
			</bundle>
			<downloadable>
				<rewrite>
					<adminhtml_catalog_product_edit_tab_downloadable_links>Wsu_Storepartitions_Block_Rewrite_DownloadableAdminhtmlCatalogProductEditTabDownloadableLinks</adminhtml_catalog_product_edit_tab_downloadable_links>
				</rewrite>
			</downloadable>
			<widget>
				<rewrite>
					<adminhtml_widget_instance_grid>Wsu_Storepartitions_Block_Rewrite_AdminhtmlWidgetInstanceGrid</adminhtml_widget_instance_grid>
					<adminhtml_widget_instance_edit>Wsu_Storepartitions_Block_Rewrite_AdminhtmlWidgetInstanceEdit</adminhtml_widget_instance_edit>
				</rewrite>
			</widget>
			<adminhtml>
				<rewrite>
					<!-- Sets up the quick add store and such -->
					<system_store_quickadd>Wsu_Storepartitions_Block_Adminhtml_System_Store_Quickadd</system_store_quickadd>
					<system_store_quickadd_form>Wsu_Storepartitions_Block_Adminhtml_System_Store_Quickadd_Form</system_store_quickadd_form>
					
					<system_store_tree>Wsu_Storepartitions_Block_Adminhtml_System_Store_Tree</system_store_tree>
					<system_store_store>Wsu_Storepartitions_Block_Adminhtml_System_Store_Store</system_store_store>
					
					<system_config_switcher>Wsu_Storepartitions_Block_Rewrite_AdminSystemConfigSwitcher</system_config_switcher>
					
					<permissions_editroles>Wsu_Storepartitions_Block_Rewrite_AdminPermissionsEditroles</permissions_editroles>
					<permissions_buttons>Wsu_Storepartitions_Block_Rewrite_AdminPermissionsButtons</permissions_buttons>
					
					<catalog_form_renderer_attribute_urlkey>Wsu_Storepartitions_Block_Rewrite_AdminhtmlCatalogFormRendererAttributeUrlkey</catalog_form_renderer_attribute_urlkey>
					<catalog_form_renderer_fieldset_element>Wsu_Storepartitions_Block_Rewrite_AdminhtmlCatalogFormRendererFieldsetElement</catalog_form_renderer_fieldset_element>
					
					<catalog_category_tab_attributes>Wsu_Storepartitions_Block_Rewrite_AdminCatalogCategoryTabAttributes</catalog_category_tab_attributes>
					<catalog_category_widget_chooser>Wsu_Storepartitions_Block_Rewrite_AdminCatalogCategoryWidgetChooser</catalog_category_widget_chooser>
					<catalog_category_edit_form>Wsu_Storepartitions_Block_Rewrite_AdminCatalogCategoryEditForm</catalog_category_edit_form>
					<catalog_category_tree>Wsu_Storepartitions_Block_Rewrite_AdminCatalogCategoryTree</catalog_category_tree>
					
					
					<catalog_product_grid>Wsu_Storepartitions_Block_Rewrite_AdminCatalogProductGrid</catalog_product_grid>
					<catalog_product_edit_tab_websites>Wsu_Storepartitions_Block_Rewrite_AdminCatalogProductEditTabWebsites</catalog_product_edit_tab_websites>
					<catalog_product_edit_tab_categories>Wsu_Storepartitions_Block_Rewrite_AdminCatalogProductEditTabCategories</catalog_product_edit_tab_categories>
					<catalog_product_edit_tab_inventory>Wsu_Storepartitions_Block_Rewrite_AdminhtmlCatalogProductEditTabInventory</catalog_product_edit_tab_inventory>
					<catalog_product_edit_tab_settings>Wsu_Storepartitions_Block_Rewrite_AdminCatalogProductEditTabSettings</catalog_product_edit_tab_settings>

					<catalog_product_edit_action_attribute_tab_websites>Wsu_Storepartitions_Block_Rewrite_AdminCatalogProductEditActionAttributeTabWebsites</catalog_product_edit_action_attribute_tab_websites>
					<catalog_product_edit_action_attribute_tab_attributes>Wsu_Storepartitions_Block_Rewrite_AdminhtmlCatalogProductEditActionAttributeTabAttributes</catalog_product_edit_action_attribute_tab_attributes>
					<catalog_product_edit_action_attribute_tab_inventory>Wsu_Storepartitions_Block_Rewrite_AdminhtmlCatalogProductEditActionAttributeTabInventory</catalog_product_edit_action_attribute_tab_inventory>
					

					
					<catalog_product_helper_form_gallery>Wsu_Storepartitions_Block_Rewrite_AdminCatalogProductHelperFormGallery</catalog_product_helper_form_gallery>
					

					
					
					<store_switcher>Wsu_Storepartitions_Block_Rewrite_AdminStoreSwitcher</store_switcher>
					
					<tag_store_switcher>Wsu_Storepartitions_Block_Rewrite_AdminTagStoreSwitcher</tag_store_switcher>
					
					<sales_order_create_store_select>Wsu_Storepartitions_Block_Rewrite_AdminSalesOrderCreateStoreSelect</sales_order_create_store_select>
					<sales_order_grid>Wsu_Storepartitions_Block_Rewrite_AdminSalesOrderGrid</sales_order_grid>
					
					<customer_edit>Wsu_Storepartitions_Block_Rewrite_AdminCustomerEdit</customer_edit>
					<customer_grid>Wsu_Storepartitions_Block_Rewrite_AdminCustomerGrid</customer_grid>
					<customer_online_grid>Wsu_Storepartitions_Block_Rewrite_AdminCustomerOnlineGrid</customer_online_grid>
					<customer_edit_tab_view_orders>Wsu_Storepartitions_Block_Rewrite_AdminCustomerEditTabViewOrders</customer_edit_tab_view_orders>
					
					<cms_page_grid>Wsu_Storepartitions_Block_Rewrite_AdminCmsPageGrid</cms_page_grid>
					<cms_page_edit>Wsu_Storepartitions_Block_Rewrite_AdminCmsPageEdit</cms_page_edit>
					
					<cms_block_grid>Wsu_Storepartitions_Block_Rewrite_AdminCmsBlockGrid</cms_block_grid>
					<cms_block_edit_form>Wsu_Storepartitions_Block_Rewrite_AdminCmsBlockEditForm</cms_block_edit_form>
					<cms_block_edit>Wsu_Storepartitions_Block_Rewrite_AdminCmsBlockEdit</cms_block_edit>
					
					<poll_grid>Wsu_Storepartitions_Block_Rewrite_AdminPollGrid</poll_grid>
					<poll_edit>Wsu_Storepartitions_Block_Rewrite_AdminPollEdit</poll_edit>
					
					<report_product_viewed_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportProductViewedGrid</report_product_viewed_grid>
					<report_review_customer_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportReviewCustomerGrid</report_review_customer_grid>
					<report_sales_bestsellers_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportSalesBestsellersGrid</report_sales_bestsellers_grid>
					<report_sales_coupons_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportSalesCouponsGrid</report_sales_coupons_grid>
					<report_sales_invoiced_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportSalesInvoicedGrid</report_sales_invoiced_grid>
					<report_sales_refunded_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportSalesRefundedGrid</report_sales_refunded_grid>
					<report_sales_sales_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportSalesSalesGrid</report_sales_sales_grid>
					<report_sales_shipping_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportSalesShippingGrid</report_sales_shipping_grid>
					<report_sales_tax_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportSalesTaxGrid</report_sales_tax_grid>
					<report_shopcart_product_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportShopcartProductGrid</report_shopcart_product_grid>
					<report_shopcart_abandoned_grid>Wsu_Storepartitions_Block_Rewrite_AdminReportShopcartAbandonedGrid</report_shopcart_abandoned_grid>
					
					<newsletter_subscriber_grid>Wsu_Storepartitions_Block_Rewrite_AdminNewsletterSubscriberGrid</newsletter_subscriber_grid>
					
                    <promo_quote_edit>Wsu_Storepartitions_Block_Rewrite_AdminPromoQuoteEdit</promo_quote_edit>
                    <promo_quote_edit_tab_labels>Wsu_Storepartitions_Block_Rewrite_AdminhtmlPromoQuoteEditTabLabels</promo_quote_edit_tab_labels>
                    <promo_catalog_edit>Wsu_Storepartitions_Block_Rewrite_AdminPromoCatalogEdit</promo_catalog_edit>
                    <promo_quote_grid>Wsu_Storepartitions_Block_Rewrite_AdminPromoQuoteGrid</promo_quote_grid>
                    <promo_catalog_grid>Wsu_Storepartitions_Block_Rewrite_AdminPromoCatalogGrid</promo_catalog_grid>
					
				</rewrite>
			</adminhtml>
		</blocks>
		<events>
			<model_save_before>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onModelSaveBefore</method>
					</storepartitions>
				</observers>
			</model_save_before>
			<cms_page_prepare_save>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onCmsPagePrepareSave</method>
					</storepartitions>
				</observers>
			</cms_page_prepare_save>
			<adminhtml_cms_page_edit_tab_main_prepare_form>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onAdminhtmlCmsPageEditTabMainPrepareForm</method>
					</storepartitions>
				</observers>
			</adminhtml_cms_page_edit_tab_main_prepare_form>
			<cms_page_load_after>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onCmsPageLoadAfter</method>
					</storepartitions>
				</observers>
			</cms_page_load_after>
			<customer_load_after>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onCustomerLoadAfter</method>
					</storepartitions>
				</observers>
			</customer_load_after>
			<sales_order_load_after>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onSalesOrderLoadAfter</method>
					</storepartitions>
				</observers>
			</sales_order_load_after>
			<eav_collection_abstract_load_before>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onEavCollectionAbstractLoadBefore</method>
					</storepartitions>
				</observers>
			</eav_collection_abstract_load_before>
			<core_collection_abstract_load_before>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onCoreCollectionAbstractLoadBefore</method>
					</storepartitions>
				</observers>
			</core_collection_abstract_load_before>
			<catalog_product_collection_load_before>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onCatalogProductCollectionLoadBefore</method>
					</storepartitions>
				</observers>
			</catalog_product_collection_load_before>
			<catalog_product_validate_before>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onCatalogProductValidateBefore</method>
					</storepartitions>
				</observers>
			</catalog_product_validate_before>
			<catalog_product_save_after>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onCatalogProductSaveAfter</method>
					</storepartitions>
				</observers>
			</catalog_product_save_after>
			<catalog_product_prepare_save>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onCatalogProductPrepareSave</method>
					</storepartitions>
				</observers>
			</catalog_product_prepare_save>
			<catalog_product_edit_action>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onCatalogProductEditAction</method>
					</storepartitions>
				</observers>
			</catalog_product_edit_action>
            <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <storepartitions>
                        <class>storepartitions/observer</class>
                        <method>onControllerActionLayoutRenderBeforeAdminhtmlCatalogProductEdit</method>
                    </storepartitions>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_edit>
            <adminhtml_catalog_category_tree_can_add_sub_category>
                <observers>
                    <storepartitions>
                        <class>storepartitions/observer</class>
                        <method>onCatalogCategoryTreeCanAddSubCategory</method>
                    </storepartitions>
                </observers>
            </adminhtml_catalog_category_tree_can_add_sub_category>
			<admin_roles_save_before>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onAdminRolesSaveBefore</method>
					</storepartitions>
				</observers>
			</admin_roles_save_before>
			<admin_roles_save_after>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onAdminRolesSaveAfter</method>
					</storepartitions>
				</observers>
			</admin_roles_save_after>
			<admin_roles_delete_after>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onAdminRolesDeleteAfter</method>
					</storepartitions>
				</observers>
			</admin_roles_delete_after>
			<controller_action_predispatch_adminhtml_catalog_product_review_massDelete>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onAdminhtmlCatalogProductReviewMassDeletePredispatch</method>
					</storepartitions>
				</observers>
			</controller_action_predispatch_adminhtml_catalog_product_review_massDelete>
			<controller_action_postdispatch_adminhtml_catalog_category_save>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onAdminhtmlCatalogCategorySavePostdispatch</method>
					</storepartitions>
				</observers>
			</controller_action_postdispatch_adminhtml_catalog_category_save>
			<review_delete_before>
				<observers>
					<storepartitions>
						<class>storepartitions/observer</class>
						<method>onReviewDeleteBefore</method>
					</storepartitions>
				</observers>
			</review_delete_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <storepartitions>                        
                        <class>storepartitions/observer</class>
                        <method>removeAddNewProductButton</method>
                    </storepartitions>
                </observers>
            </core_block_abstract_prepare_layout_after>

            <catalog_product_new_action>
                <observers>
                    <storepartitions>                        
                        <class>storepartitions/observer</class>
                        <method>denyToCreateProduct</method>
                    </storepartitions>
                </observers>
            </catalog_product_new_action>
            <core_block_abstract_to_html_before>
                <observers>
                    <storepartitions>
                        <class>storepartitions/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </storepartitions>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <storepartitions>
                        <class>storepartitions/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </storepartitions>
                </observers>
            </core_block_abstract_to_html_after>
			<core_locale_set_locale>
				<observers>
					<storepartitions>
						<type>model</type>
						<class>storepartitions/system_config_observer</class>
						<method>onCoreLocaleSetLocale</method>
					</storepartitions>
				</observers>
			</core_locale_set_locale>
			<controller_front_init_routers>
				<observers>
					<storepartitions>
						<type>model</type>
						<class>storepartitions/quote_observer</class>
						<method>onControllerFrontInitRouters</method>
					</storepartitions>
				</observers>
			</controller_front_init_routers>
		</events>
		<template>
			<email>
				<admin_su_template translate="label" module="storepartitions">
					<label>Approve new product</label>
					<file>storepartitions_su.html</file>
					<type>html</type>
				</admin_su_template>
                <admin_sucategory_template translate="label" module="storepartitions">
                    <label>Approve new category</label>
                    <file>storepartitions_sucategory.html</file>
                    <type>html</type>
                </admin_sucategory_template>
			</email>
		</template>
	</global>
	<default>
		<storepartitions>
			<general>
				<showallproducts>0</showallproducts>
				<showallcustomers>1</showallcustomers>
				<allowdelete>0</allowdelete>
				<allowdelete_perwebsite>0</allowdelete_perwebsite>
			</general>
			<su>
				<enable>1</enable>
				<email/>
				<template>admin_su_template</template>
			</su>
            <sucategories>
                <enable>0</enable>
                <email></email>
                <template>admin_sucategory_template</template>
            </sucategories>
		</storepartitions>
	</default>
</config>
