<?xml version="1.0"?>
<config>
  <modules>
    <Wsu_Storeuser>
      <version>3</version>
    </Wsu_Storeuser>
  </modules>
  <frontend>
    <translate>
      <modules>
        <Wsu_Storeuser>
          <files>
            <default>Wsu_Storeuser.csv</default>
          </files>
        </Wsu_Storeuser>
      </modules>
    </translate>
    <layout>
      <updates>
        <storeuser>
          <file>storeuser.xml</file>
        </storeuser>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <storeuser>
        <use>admin</use>
        <args>
          <module>Wsu_Storeuser</module>
          <frontName>storeuser</frontName>
        </args>
      </storeuser>
    </routers>
  </admin>
  <adminhtml>
    <translate>
      <modules>
        <Wsu_Storeuser>
          <files>
            <default>Wsu_Storeuser.csv</default>
          </files>
        </Wsu_Storeuser>
      </modules>
    </translate>
    <layout>
      <updates>
        <storeuser>
          <file>storeuser.xml</file>
        </storeuser>
      </updates>
    </layout>
    <acl>
      <resources>
        <admin>
          <children>
            <storeuser translate="title">
              <title>Advanced Permissions Tab</title>
              <sort_order>10</sort_order>
            </storeuser>
            <system>
              <children>
                <storeuser translate="title" module="storeuser">
                  <title>Advanced Permissions</title>
                  <sort_order>0</sort_order>
                </storeuser>
                <config>
                  <children>
                    <storeuser translate="title" module="storeuser">
                      <title>Advanced Permissions</title>
                    </storeuser>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <global>
    <resources>
      <storeuser_setup>
        <setup>
          <module>Wsu_Storeuser</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </storeuser_setup>
      <storeuser_write>
        <connection>
          <use>core_write</use>
        </connection>
      </storeuser_write>
      <storeuser_read>
        <connection>
          <use>core_read</use>
        </connection>
      </storeuser_read>
    </resources>
    <models>
      <storeuser>
        <class>Wsu_Storeuser_Model</class>
        <resourceModel>storeuser_mysql4</resourceModel>
      </storeuser>
      <storeuser_mysql4>
        <class>Wsu_Storeuser_Model_Mysql4</class>
        <entities>
          <advancedrole>
            <table>wsu_storeuser_advancedrole</table>
          </advancedrole>
          <approve>
            <table>wsu_storeuser_approvedproducts</table>
          </approve>
        </entities>
      </storeuser_mysql4>
      <catalog_resource_eav_mysql4>
        <rewrite>
          <category_tree>Wsu_Storeuser_Model_Rewrite_CatalogModelResourceEavMysql4CategoryTree</category_tree>
        </rewrite>
      </catalog_resource_eav_mysql4>
      <catalog>
        <rewrite>
          <category>Wsu_Storeuser_Model_Rewrite_CatalogCategory</category>
          <product>Wsu_Storeuser_Model_Rewrite_CatalogProduct</product>
          <product_status>Wsu_Storeuser_Model_Rewrite_CatalogProductStatus</product_status>
          <product_action>Wsu_Storeuser_Model_Rewrite_CatalogProductAction</product_action>
        </rewrite>
      </catalog>
      <adminhtml>
        <rewrite>
          <system_store>Wsu_Storeuser_Model_Rewrite_AdminSystemStore</system_store>
          <sales_order_create>Wsu_Storeuser_Model_Rewrite_AdminSalesOrderCreate</sales_order_create>
        </rewrite>
      </adminhtml>
      <core_mysql4>
        <rewrite>
          <website_collection>Wsu_Storeuser_Model_Rewrite_CoreWebsiteCollection</website_collection>
        </rewrite>
      </core_mysql4>
    </models>
    <blocks>
      <storeuser>
        <class>Wsu_Storeuser_Block</class>
      </storeuser>
      <adminhtml>
        <rewrite>
          <permissions_editroles>Wsu_Storeuser_Block_Rewrite_AdminPermissionsEditroles</permissions_editroles>
          <permissions_buttons>Wsu_Storeuser_Block_Rewrite_AdminPermissionsButtons</permissions_buttons>
          <catalog_product_edit_tab_websites>Wsu_Storeuser_Block_Rewrite_AdminCatalogProductEditTabWebsites</catalog_product_edit_tab_websites>
          <catalog_product_edit_tab_categories>Wsu_Storeuser_Block_Rewrite_AdminCatalogProductEditTabCategories</catalog_product_edit_tab_categories>
          <store_switcher>Wsu_Storeuser_Block_Rewrite_AdminStoreSwitcher</store_switcher>
          <tag_store_switcher>Wsu_Storeuser_Block_Rewrite_AdminTagStoreSwitcher</tag_store_switcher>
          <sales_order_create_store_select>Wsu_Storeuser_Block_Rewrite_AdminSalesOrderCreateStoreSelect</sales_order_create_store_select>
          <catalog_product_grid>Wsu_Storeuser_Block_Rewrite_AdminCatalogProductGrid</catalog_product_grid>
          <catalog_product_edit_action_attribute_tab_websites>Wsu_Storeuser_Block_Rewrite_AdminCatalogProductEditActionAttributeTabWebsites</catalog_product_edit_action_attribute_tab_websites>
          <sales_order_grid>Wsu_Storeuser_Block_Rewrite_AdminSalesOrderGrid</sales_order_grid>
          <customer_edit>Wsu_Storeuser_Block_Rewrite_AdminCustomerEdit</customer_edit>
          <customer_grid>Wsu_Storeuser_Block_Rewrite_AdminCustomerGrid</customer_grid>
          <customer_online_grid>Wsu_Storeuser_Block_Rewrite_AdminCustomerOnlineGrid</customer_online_grid>
          <catalog_product_helper_form_gallery>Wsu_Storeuser_Block_Rewrite_AdminCatalogProductHelperFormGallery</catalog_product_helper_form_gallery>
          <system_config_switcher>Wsu_Storeuser_Block_Rewrite_AdminSystemConfigSwitcher</system_config_switcher>
          <catalog_category_edit_form>Wsu_Storeuser_Block_Rewrite_AdminCatalogCategoryEditForm</catalog_category_edit_form>
          <catalog_category_tree>Wsu_Storeuser_Block_Rewrite_AdminCatalogCategoryTree</catalog_category_tree>
          <cms_page_grid>Wsu_Storeuser_Block_Rewrite_AdminCmsPageGrid</cms_page_grid>
          <cms_page_edit>Wsu_Storeuser_Block_Rewrite_AdminCmsPageEdit</cms_page_edit>
          <cms_block_grid>Wsu_Storeuser_Block_Rewrite_AdminCmsBlockGrid</cms_block_grid>
          <cms_block_edit_form>Wsu_Storeuser_Block_Rewrite_AdminCmsBlockEditForm</cms_block_edit_form>
          <cms_block_edit>Wsu_Storeuser_Block_Rewrite_AdminCmsBlockEdit</cms_block_edit>
          <poll_grid>Wsu_Storeuser_Block_Rewrite_AdminPollGrid</poll_grid>
          <poll_edit>Wsu_Storeuser_Block_Rewrite_AdminPollEdit</poll_edit>
          <catalog_category_widget_chooser>Wsu_Storeuser_Block_Rewrite_AdminCatalogCategoryWidgetChooser</catalog_category_widget_chooser>
          <report_product_viewed_grid>Wsu_Storeuser_Block_Rewrite_AdminReportProductViewedGrid</report_product_viewed_grid>
          <report_review_customer_grid>Wsu_Storeuser_Block_Rewrite_AdminReportReviewCustomerGrid</report_review_customer_grid>
          <report_sales_bestsellers_grid>Wsu_Storeuser_Block_Rewrite_AdminReportSalesBestsellersGrid</report_sales_bestsellers_grid>
          <report_sales_coupons_grid>Wsu_Storeuser_Block_Rewrite_AdminReportSalesCouponsGrid</report_sales_coupons_grid>
          <report_sales_invoiced_grid>Wsu_Storeuser_Block_Rewrite_AdminReportSalesInvoicedGrid</report_sales_invoiced_grid>
          <report_sales_refunded_grid>Wsu_Storeuser_Block_Rewrite_AdminReportSalesRefundedGrid</report_sales_refunded_grid>
          <report_sales_sales_grid>Wsu_Storeuser_Block_Rewrite_AdminReportSalesSalesGrid</report_sales_sales_grid>
          <report_sales_shipping_grid>Wsu_Storeuser_Block_Rewrite_AdminReportSalesShippingGrid</report_sales_shipping_grid>
          <report_sales_tax_grid>Wsu_Storeuser_Block_Rewrite_AdminReportSalesTaxGrid</report_sales_tax_grid>
          <report_shopcart_product_grid>Wsu_Storeuser_Block_Rewrite_AdminReportShopcartProductGrid</report_shopcart_product_grid>
          <report_shopcart_abandoned_grid>Wsu_Storeuser_Block_Rewrite_AdminReportShopcartAbandonedGrid</report_shopcart_abandoned_grid>
          <catalog_form_renderer_fieldset_element>Wsu_Storeuser_Block_Rewrite_AdminhtmlCatalogFormRendererFieldsetElement</catalog_form_renderer_fieldset_element>
          <catalog_product_edit_action_attribute_tab_attributes>Wsu_Storeuser_Block_Rewrite_AdminhtmlCatalogProductEditActionAttributeTabAttributes</catalog_product_edit_action_attribute_tab_attributes>
          <catalog_product_edit_action_attribute_tab_inventory>Wsu_Storeuser_Block_Rewrite_AdminhtmlCatalogProductEditActionAttributeTabInventory</catalog_product_edit_action_attribute_tab_inventory>
          <catalog_form_renderer_attribute_urlkey>Wsu_Storeuser_Block_Rewrite_AdminhtmlCatalogFormRendererAttributeUrlkey</catalog_form_renderer_attribute_urlkey>
          <catalog_product_edit_tab_inventory>Wsu_Storeuser_Block_Rewrite_AdminhtmlCatalogProductEditTabInventory</catalog_product_edit_tab_inventory>
          <newsletter_subscriber_grid>Wsu_Storeuser_Block_Rewrite_AdminNewsletterSubscriberGrid</newsletter_subscriber_grid>
        </rewrite>
      </adminhtml>
      <bundle>
        <rewrite>
          <adminhtml_catalog_product_edit_tab_attributes_extend>Wsu_Storeuser_Block_Rewrite_BundleAdminhtmlCatalogProductEditTabAttributesExtend</adminhtml_catalog_product_edit_tab_attributes_extend>
          <adminhtml_catalog_product_edit_tab_attributes_special>Wsu_Storeuser_Block_Rewrite_BundleAdminhtmlCatalogProductEditTabAttributesSpecial</adminhtml_catalog_product_edit_tab_attributes_special>
        </rewrite>
      </bundle>
      <downloadable>
        <rewrite>
          <adminhtml_catalog_product_edit_tab_downloadable_links>Wsu_Storeuser_Block_Rewrite_DownloadableAdminhtmlCatalogProductEditTabDownloadableLinks</adminhtml_catalog_product_edit_tab_downloadable_links>
        </rewrite>
      </downloadable>
      <widget>
        <rewrite>
          <adminhtml_widget_instance_grid>Wsu_Storeuser_Block_Rewrite_AdminhtmlWidgetInstanceGrid</adminhtml_widget_instance_grid>
          <adminhtml_widget_instance_edit>Wsu_Storeuser_Block_Rewrite_AdminhtmlWidgetInstanceEdit</adminhtml_widget_instance_edit>
        </rewrite>
      </widget>
    </blocks>
    <helpers>
      <storeuser>
        <class>Wsu_Storeuser_Helper</class>
      </storeuser>
    </helpers>
    <events>
      <model_save_before>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onModelSaveBefore</method>
          </storeuser>
        </observers>
      </model_save_before>
      <cms_page_prepare_save>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onCmsPagePrepareSave</method>
          </storeuser>
        </observers>
      </cms_page_prepare_save>
      <adminhtml_cms_page_edit_tab_main_prepare_form>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onAdminhtmlCmsPageEditTabMainPrepareForm</method>
          </storeuser>
        </observers>
      </adminhtml_cms_page_edit_tab_main_prepare_form>
      <cms_page_load_after>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onCmsPageLoadAfter</method>
          </storeuser>
        </observers>
      </cms_page_load_after>
      <customer_load_after>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onCustomerLoadAfter</method>
          </storeuser>
        </observers>
      </customer_load_after>
      <sales_order_load_after>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onSalesOrderLoadAfter</method>
          </storeuser>
        </observers>
      </sales_order_load_after>
      <eav_collection_abstract_load_before>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onEavCollectionAbstractLoadBefore</method>
          </storeuser>
        </observers>
      </eav_collection_abstract_load_before>
      <core_collection_abstract_load_before>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onCoreCollectionAbstractLoadBefore</method>
          </storeuser>
        </observers>
      </core_collection_abstract_load_before>
      <catalog_product_collection_load_before>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onCatalogProductCollectionLoadBefore</method>
          </storeuser>
        </observers>
      </catalog_product_collection_load_before>
      <catalog_product_save_after>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onCatalogProductSaveAfter</method>
          </storeuser>
        </observers>
      </catalog_product_save_after>
      <catalog_product_prepare_save>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onCatalogProductPrepareSave</method>
          </storeuser>
        </observers>
      </catalog_product_prepare_save>
      <catalog_product_edit_action>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onCatalogProductEditAction</method>
          </storeuser>
        </observers>
      </catalog_product_edit_action>
      <admin_roles_save_before>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onAdminRolesSaveBefore</method>
          </storeuser>
        </observers>
      </admin_roles_save_before>
      <admin_roles_save_after>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onAdminRolesSaveAfter</method>
          </storeuser>
        </observers>
      </admin_roles_save_after>
      <admin_roles_delete_after>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onAdminRolesDeleteAfter</method>
          </storeuser>
        </observers>
      </admin_roles_delete_after>
      <controller_action_predispatch_adminhtml_catalog_product_review_massDelete>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onAdminhtmlCatalogProductReviewMassDeletePredispatch</method>
          </storeuser>
        </observers>
      </controller_action_predispatch_adminhtml_catalog_product_review_massDelete>
      <review_delete_before>
        <observers>
          <storeuser>
            <class>storeuser/observer</class>
            <method>onReviewDeleteBefore</method>
          </storeuser>
        </observers>
      </review_delete_before>
      <core_locale_set_locale>
        <observers>
          <storeuser>
            <type>model</type>
            <class>storeuser/system_config_observer</class>
            <method>onCoreLocaleSetLocale</method>
          </storeuser>
        </observers>
      </core_locale_set_locale>
      <controller_front_init_routers>
        <observers>
          <storeuser>
            <type>model</type>
            <class>storeuser/quote_observer</class>
            <method>onControllerFrontInitRouters</method>
          </storeuser>
        </observers>
      </controller_front_init_routers>
    </events>
    <template>
      <email>
        <admin_su_template translate="label" module="storeuser">
          <label>Approve new product</label>
          <file>storeuser_su.html</file>
          <type>html</type>
        </admin_su_template>
      </email>
    </template>
  </global>
  <default>
    <admin>
      <general>
        <showallproducts>0</showallproducts>
        <showallcustomers>1</showallcustomers>
        <allowdelete>0</allowdelete>
        <allowdelete_perwebsite>0</allowdelete_perwebsite>
      </general>
      <su>
        <enable>0</enable>
        <email/>
        <template>admin_su_template</template>
      </su>
    </admin>
  </default>
</config>
